---
interface Props {
	title?: string;
	icon?: string;
	href?: string;
}
---

<div class="landing-card">
	<article class="card">
		<slot />
	</article>
</div>

<style>
	.landing-card {
		--card-bg: rgba(23, 25, 30, 0.8);
		--landing-card-foreground: rgb(250 250 250);
		--landing-card-radius: 1rem;
		--landing-card-border: rgb(255 255 255 / 0.12);
		--landing-card-padding: 1.25rem;
		--landing-card-z: 1;
		--landing-card-accent-size: 6.25rem;
		--landing-card-accent-radius: 100%;
		display: contents;
		color: var(--landing-card-foreground);
	}
	:global(:root[data-theme='light']) .landing-card {
		--card-bg: rgba(255, 255, 255, 0.8);
	}

	.landing-card .card {
		overflow: hidden;
		background: var(--card-bg);
		position: relative;
		border-radius: var(--landing-card-radius);
		border: 1px solid var(--landing-card-border);
		padding: var(--landing-card-padding);
		backdrop-filter: blur(12px);
	}

	.landing-card .card > * {
		z-index: var(--landing-card-z);
	}
	.landing-card .card::before {
		content: '';
		position: absolute;
		top: 0;
		inset-inline-end: 0;
		width: var(--landing-card-accent-size);
		height: var(--landing-card-accent-size);
		background: var(--landing-card-accent, var(--brand-magenta));
		border-radius: var(--landing-card-accent-radius);
		filter: blur(3.25rem);
		opacity: 0.33;
	}

	.landing-card .card {
		--landing-card-accent: hsl(165, 90%, 46%);
	}

	.landing-card:nth-child(2n) .card {
		--landing-card-accent: var(--brand-red);
	}
</style>
