---
import { Image } from 'astro:assets';
import HoustonLove from '~/assets/houston_love.png';
import Button from '~/components/Button.astro';

const { title, cta } = Astro.props;
---

<div class="discord">
	<h2>{title}</h2>
	<div class="cta">
		<Image src={HoustonLove} alt="" class="hide" />
		<Button variant="secondary" link="https://astro.build/chat">{cta}</Button>
	</div>
</div>

<style>
	.discord {
		margin: 0 auto;
		padding: var(--landing-discord-padding);
		text-align: center;
	}

	.discord h2 {
		font-size: var(--landing-discord-heading-size) !important;
		font-weight: 400;
	}

	.discord .cta {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hide {
		margin-bottom: var(--landing-discord-image-offset);
		width: var(--landing-discord-image-size);
		height: var(--landing-discord-image-size);
	}
</style>
