---
import { getLangFromUrl, useTranslations } from '@/utils/i18n'
import AccordionItem from '@components/ui/blocks/AccordionItem.astro'

const lang = getLangFromUrl(Astro.url)
const t = await useTranslations(lang, 'faq')

interface Props {
  title?: string
}

interface FAQItem {
  question: string
  answer: string
}

const { title = t.title } = Astro.props
const items = (t.items ?? []) as FAQItem[]
---

<div class="mx-auto max-w-[85rem] px-3 py-8 sm:px-6 sm:py-10 lg:px-8 lg:py-14">
  <div class="mx-auto mb-8 max-w-2xl text-center sm:mb-10 lg:mb-14">
    <h2 class="text-neutral-800 dark:text-neutral-200" set:html={title} />
  </div>

  <div class="mx-auto max-w-2xl">
    <div class="hs-accordion-group">
      {
        items.map((item: FAQItem, index: number) => (
          <AccordionItem
            id={`hs-basic-with-title-and-arrow-stretched-heading-${index + 1}`}
            collapseId={`hs-basic-with-title-and-arrow-stretched-collapse-${index + 1}`}
            question={item.question}
            answer={item.answer}
            first={index === 0}
          />
        ))
      }
    </div>
  </div>
</div>
