---
const { src, alt } = Astro.props;

interface Props {
  src: string;
  alt: string;
}
---

<div class="flex-shrink-0">
  <img class="avatar-testimonial size-8 rounded-full" src={src} alt={alt} loading="lazy" />
</div>
<style>
  @media (width >= 40rem) {
    .avatar-testimonial {
      width: var(--avatar-size-sm-up);
      height: var(--avatar-size-sm-up);
    }
  }
</style>
