---
import { projects } from "@/types/roadmap";
import { getLangFromUrl, useTranslations } from "@/utils/i18n";

interface Props {
	currentProjectId: string | null;
}

const { currentProjectId } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = await useTranslations(lang, "roadmap");
---

<div
	class="mt-8 border-b border-neutral-200 bg-white dark:border-neutral-800 dark:bg-neutral-900"
>
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="flex h-16 items-center justify-center gap-4">
			<a
				href={lang === "fr" ? `/fr/roadmap` : `/roadmap`}
				class:list={[
					"group relative flex h-10 min-w-[140px] items-center justify-center rounded-lg border-2 px-3 py-1.5 text-sm font-semibold",
					currentProjectId === null
						? "bg-neutral-100 border-magenta text-magenta ring-2 ring-magenta/20 dark:border-magenta dark:bg-magenta/10 dark:text-magenta dark:ring-magenta/10"
						: "border-neutral-200 bg-white text-neutral-600 hover:border-magenta hover:text-magenta hover:ring-2 hover:ring-magenta/20 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:border-magenta dark:hover:bg-magenta/10 dark:hover:text-magenta dark:hover:ring-magenta/10",
				]}
			>
				<span class="relative">{t?.sections?.allProjects ?? "Tous les projets"}</span>
			</a>

			{
				projects.map((project) => (
					<a
						href={
							lang === "fr"
								? `/fr/roadmap/${project.id}`
								: `/roadmap/${project.id}`
						}
						class:list={[
							"group relative flex h-10 min-w-[140px] items-center justify-center rounded-lg border-2 px-3 py-1.5 text-sm font-semibold",
							currentProjectId === project.id
								? "bg-neutral-100 border-magenta text-magenta ring-2 ring-magenta/20 dark:border-magenta dark:bg-magenta/10 dark:text-magenta dark:ring-magenta/10"
								: "border-neutral-200 bg-white text-neutral-600 hover:border-magenta hover:text-magenta hover:ring-2 hover:ring-magenta/20 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:border-magenta dark:hover:bg-magenta/10 dark:hover:text-magenta dark:hover:ring-magenta/10",
						]}
					>
						<span class="relative">
							{t?.projects?.[project.id]?.name ?? project.name}
						</span>
					</a>
				))
			}

			<button
				type="button"
				data-hs-overlay="#addFeatureModal"
				class="dark:hover:bg-magenta flex h-10 items-center gap-2 rounded-lg bg-magenta px-4 text-sm font-medium text-white transition-colors hover:bg-magenta dark:bg-magenta"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-5 w-5"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M12 4.5v15m7.5-7.5h-15"
					/>
				</svg>
				<span>{t?.addFeature?.button ?? "Add Feature"}</span>
			</button>
		</div>
	</div>
</div>
