---
import MainLayout from '@/layouts/MainLayout.astro'
import { getSafeAuthRedirectPath } from '@/utils/courseGating'
import { SignIn } from '@clerk/astro/components'

export const prerender = false

const title = 'Connexion'
const nextUrl = Astro.url.searchParams.get('next')
const safeNextUrl = getSafeAuthRedirectPath(nextUrl)
---

<MainLayout title={title} lang="fr">
	<div class="flex min-h-[60vh] items-center justify-center py-12">
		<SignIn
			routing="hash"
			fallbackRedirectUrl={safeNextUrl}
		/>
	</div>
</MainLayout>
