---
import { z } from 'astro/zod';
type IconName = 'arrow-right';

interface Props {
	variant: 'primary' | 'secondary' | 'minimal';
	link: string;
	icon?: undefined | { type: 'icon'; name: IconName } | { type: 'raw'; html: string };
}

const propsSchema = z.object({
	variant: z.enum(['primary', 'secondary', 'minimal']).default('primary'),
	link: z.string(),
	icon: z
		.union([
			z.object({ type: z.literal('icon'), name: z.custom<IconName>(z.string().parse) }),
			z.object({ type: z.literal('raw'), html: z.string() }),
		])
		.optional(),
});

const { link, variant, icon } = propsSchema.parse(Astro.props);
---

<a class="action" data-variant={variant} href={link}>
	<slot />
	{icon?.type === 'icon' && icon.name === 'arrow-right' && (
		<svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
			<path d="m9 18 6-6-6-6" />
		</svg>
	)}
	{icon?.type === 'raw' && <Fragment set:html={icon.html} />}
</a>

<style>
	.action {
		display: inline-flex;
		gap: var(--ui-button-gap);
		align-items: center;
		border-radius: var(--ui-button-radius);
		padding: var(--ui-button-padding-y) var(--ui-button-padding-x);
		color: var(--ui-button-text);
		line-height: var(--ui-button-line-height);
		text-decoration: none;
		font-size: var(--ui-button-font-size);
	}
	.action[data-variant='primary'],
	.action[data-variant='primary']:hover {
		background: var(--brand-yellow);
		color: var(--ui-button-primary-text);
	}
	.action[data-variant='secondary'] {
		background: var(--ui-button-secondary-bg);
		border: var(--ui-button-border-width) solid;
	}
	.action[data-variant='minimal'] {
		padding-inline: 0;
	}

	.action {
		font-size: clamp(
			var(--ui-button-font-size),
			var(--ui-button-font-size-lg),
			var(--ui-button-font-size-lg)
		);
		padding: clamp(
				var(--ui-button-padding-y),
				var(--ui-button-padding-y-lg),
				var(--ui-button-padding-y-lg)
			)
			clamp(
				var(--ui-button-padding-x),
				var(--ui-button-padding-x-lg),
				var(--ui-button-padding-x-lg)
			);
	}

	.icon {
		width: var(--ui-button-icon-size);
		height: var(--ui-button-icon-size);
		fill: none;
		stroke: currentColor;
		stroke-width: var(--ui-button-icon-stroke);
		stroke-linecap: round;
		stroke-linejoin: round;
	}
</style>
