---
// Importing necessary components
import Meta from '@/components/Meta.astro'
import Navbar from '@/components/astro/landing/Navbar.astro'
import Footer from '@/components/astro/landing/Footer.astro'
import CookieConsent from '@components/ui/banners/CookieConsent.astro'
import { SITE } from '@/constants'
import '../assets/styles/global.css'
import { ClientRouter } from 'astro:transitions'

// Setting expected props
const { title = SITE.title, meta, structuredData, lang = 'en' } = Astro.props

// Interface to type-check the properties
interface Props {
	title?: string
	meta?: {
		title?: string
		description?: string
		image?: string
		canonicalURL?: string
	}
	structuredData?: object
	lang?: string
}
---

<html lang={lang} class="scroll-pt-16">
	<head>
		<Meta meta={meta} structuredData={structuredData} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Manrope:wght@200..800&family=DM+Sans:opsz,wght@9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet" />
		<ClientRouter handleForms />
	</head>
	<body class="dark:bg-neutral-900">
		<Navbar />
		<div class="mx-auto max-w-screen-2xl px-3 pt-20 sm:px-6 lg:px-8">
			<main>
				<slot />
			</main>
		</div>
		<Footer />
		<CookieConsent />
		{
			import.meta.env.PROD && (
				<script async src="https://cdn.onthe.io/io.js/YyAMWtaLLPUi" />
			)
		}
		<script>
		import '@/assets/scripts/preline'
		import '@/assets/scripts/lenisSmoothScroll'
		import '@/assets/scripts/modal'
		</script>
	  <!-- buildflowz-inspector -->
  <script src="/buildflowz-inspector.js" defer></script>
</body>
</html>
